<h4>Add a Question</h4>

<br><br>

<%= form_for @question do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br>

  <%= f.label :description %>:
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>

<br><br>

<ul>
  <% @questions.each do |q| %>
    <li> <%= q.title %> </li>
  <% end %>
</ul>
